.blank {
  position: relative;
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
 .chack h1 {
  position: absolute;
  cursor: help;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin: auto;
  margin-top:-490px;
  margin-left: 200px;
  color: black;
  font-family:monospace;
}
.enter h1 {
 position: absolute;
 cursor: help;
 text-transform: uppercase;
 border-bottom: 2px solid black;
 margin: auto;
 margin-top:-490px;
 margin-left: 240px;
 color: black;
 font-family:monospace;
}
.words {
  text-transform: uppercase;
  margin-top: -400px;
  margin-left: 40px;
  font-family:monospace;

}
.words lable {
    color: black;
    font-size: 140%;
}
.words input {
  height: 20px;
  width: 300px;
  }
.knopka a {
  font-size: 140%;
}
.regestation {
  margin-top: 40px;
  color: black;
  width: 200px;
  height : 40px;
}
.enter2 {
  margin-top: 40px;
  color: black;
  width: 200px;
  height : 40px;
}
