header {
  font-family: monospace;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 15px;
}
.dws-menu *{
  margin: 0;
  padding: 0;
}
.dws-menu ul,
.dws-menu ol {
  list-style: none;
}
.dws-menu > ul{
  display: flex;
  justify-content: center;
  /* margin-left: -30px; */
}
.dws-menu > ul li pre{
  display: block;
   padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  background-color: rgba(255,70,40);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  transition: all 0.3s ease;
}
.dws-menu > ul li{
  position: relative;
  border-right: 1px solid black;
}
.dws-menu > ul li > pre img {
  position: absolute;
  /* left: -px; */
  top: 5px;
}
.dws-menu > ul li pre:first-child{
  border-left: 1px solid black;
}
.dws-menu > ul li pre:last-child{
  border-right: 1px solid black;
}
.dws-menu li pre:hover{
  cursor: pointer;
  background: rgba(0,255,30,1);
  box-shadow: 1px 10px 5px -5px black;
  transition: all 0.3s ease;
}

.dws-menu li ul{
  position: absolute;
  min-width: 138px;
  display: none;
}
.dws-menu li > ul li{
  border: 1px solid black;
}
.dws-menu li > ul li pre{
  background-color: rgba(255,70,70);
}

.dws-menu li:hover > ul{
  display: block;
}
.dws-menu a{
  text-decoration: none;
  color: black;
}
