.inf {
  background-color: white;
  width: 592.5px;
  height: 700px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
}
.inf h1 {
  margin-left:40px;
}
.inf pre {
  margin-left: 20px;
  font-family: monospace;
}
.inf img {
  margin-left: 40px;
  width: 500px;
}
.inf h2 {
  margin-left:40px;
}
.inf ol {
  margin-left: 10px;
  margin-right: 10px;
  font-family: monospace;
}
.advertising1 img{
  width: 300px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin-left: 620px;
  margin-top:-450px;
}
.advertising2 img{
  position: relative;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: auto;
  margin-left: 620px;
  margin-top:-250px;
}
