body {
  background-image: url(../images/fon.jpg);
}
.shapka {
  position: relative;
  width:1185px;
  height: 120px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  background: url(../images/heat4.jpg) 0 0 no-repeat;
}
.shapka p {
  position: absolute;
  margin-top: 80px;
  margin-left: 865px;
  color: black;
  font-family: monospace;
  font-size: 140%;
}
.shapka img {
  position: absolute;
  margin-left: 820px;
  margin-top: 15px;
  width: 320px;
}
.menu {
  position: relative;
  background-color: rgba(255,70,40);
  width: 1185px;
  height: 45px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 10px rgba(150,0,0,0.7);
  border-radius: 10px;
}
.home img {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.home p {
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 120%;
}
.home p:hover {
  font-size: 140%;
  margin-top: 7px;
}
.palka1 img {
  position: absolute;
  margin-top: 5px;
  margin-left: 120px;
}
.palka1 p {
  position: absolute;
  margin-top: 10px;
  margin-left: 145px;
  font-size: 120%;
}
.palka1 p:hover {
  font-size: 140%;
  margin-top: 7px;
}
.palka2 img {
  position: absolute;
  margin-top: 5px;
  margin-left: 227px;
}
.palka2 p {
  position: absolute;
  margin-top: 10px;
  margin-left: 255px;
  font-size: 120%;
}
.palka2 p:hover {
  font-size: 140%;
  margin-top: 7px;
}
.palka3 img {
  position: absolute;
  margin-top: 5px;
  margin-left: 420px;
}
.palka3 p{
  position: absolute;
  margin-top: 10px;
  margin-left: 440px;
  font-size: 120%;
}
.palka3 p:hover {
  font-size: 140%;
  margin-top: 7px;
}
